/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

/* Body */
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

/* Header */
header {
  background: #fff;
}
header h1:hover {
  color: #1aac83;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

/* Divs */
.arrange-horizontally > * {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}
.horizontal-wrapper {
  display: inline-grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.wrap {
  position: relative;
  overflow: hidden;
}

/* Search Bar */
.searchbar {
  display: flex;
  align-items: center;
  justify-items: center;
}
.searchbar input {
  display: block;
  padding: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}
.searchbar button {
  height: 40px;
}
.searchbar button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
}

/* Pages */
.pages {
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;
}

/* Home Page */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SearchPage */
.searchpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Page */
.formpage {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Upload Page */
.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* File Details Card */
.malFiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
.malFile-details {
  background: #fff;
  border-radius: 4px;
  margin: auto;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 570px;
}
.malFile-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  width: fit-content;
  color: var(--primary);
  cursor: pointer;
}
.malFile-details p {
  margin: 0;
  font-size: 0.8em;
  color: #555;
  width: 570px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.malFile-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.malFile-details h4:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Upload File Details Card */
.upload-details {
  background: #fff;
  border-radius: 4px;
  margin: auto;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 570px;
}
.upload-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.upload-details p {
  margin: 0;
  font-size: 0.8em;
  color: #555;
  width: 570px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.upload-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Forms */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.create {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  min-width: 500px;
}
.create h3 {
  margin-top: 0px;
  font-weight: 600;
}
.create button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
}
.create button[disabled="true"],
button:disabled {
  background-color: #75ab9c;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 0;
}

/* Search Page Results */
.search-result {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  min-width: 900px;
}
.search-result p {
  margin: 5px;
  font-size: 0.9em;
  color: #555;
}
.search-result h4 {
  border-top: 1px solid rgba(0, 0, 0, 0.137);
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding: 7px 0px;
}
.submission-details {
  background: #fff;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  width: 260px;
}
.submission-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.history-details {
  background: #fff;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  margin-bottom: 1.33em;
}
.history-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.history-details:last-child {
  border-bottom: none;
}

/* Pagination */
.link-item {
  font-weight: 500;
}
.link-item:hover {
  border-color: #fff;
  background-color: #fff;
  background: transparent;
  color: #1aac83;
}
ul.pagination {
  display: flex;
  justify-content: left;
}
ul.pagination li {
  list-style: none;
}
ul.pagination li button {
  background-color: transparent;
  background-repeat: no-repeat;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 30px;
  /* min-width: 25px;
  max-width: 40px; */
  font-family: "Poppins";
  text-overflow: ellipsis;
  padding-left: 2px;
  padding-right: 2px
}
ul.pagination li button:hover {
  background: transparent;
  color: #1aac83;
}
ul.pagination li button.active {
  background: transparent;
  color: #1aac83;
}
.pagination-nav {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-auto-columns: 1fr;
}
.search-results-nav input {
  padding: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.files-per-page input {
  width: 40px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.page-input input {
  width: 40px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 2px;
}

/* Sort */
.sort-dropdown select {
  width: 80px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitFiles {
  padding-bottom: 10px;
}
.submitFiles button[disabled="true"],
button:disabled {
  background-color: #75ab9c;
}
.submitFiles button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
}

/* Form Page Nav */
.form-nav-bar div {
  background: #fff;
  border-radius: 4px;
  margin: 10px auto;
  margin-bottom: 20px;
  width: 640px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-nav-bar ul {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
  width: auto;
  gap: 20px;
  margin: 0;
}
.form-nav-bar ul li {
  list-style: none;
}
.form-tabs button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 200px;
  font-family: "Poppins";
  font-weight: 500;
}
.form-tabs button:hover {
  border-color: #fff;
  background-color: #fff;
  background: transparent;
  color: #1aac83;
  border-bottom: 4px solid #1aac83;
}
.form-tabs button.active {
  color: #1aac83;
  border-bottom: 2px solid #1aac83;
}

/* Form Page Upload File Details Layout */
.form-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.form-grid-items input {
  width: 280px;
}

/* Loading Animation */
.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}
@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
